---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import Studies from "../components/Studies.astro";
import SectionContainer from "../components/SectionContainer.astro";
import StudieIcon from "../components/icons/StudieIcon.astro";
import ProjectIcon from "../components/icons/ProjectIcon.astro";
import Projects from "../components/Projects.astro";
import CVIcon from "../components/icons/CV.astro";
import Aboutme from "../components/aboutme.astro";
import Contact from "../components/contact.astro";
import Skills from "../components/skills.astro";
import AboutmeIcon from "../components/icons/aboutme.astro";
import '../styles.css';
import ContactIcon from "../components/icons/ContactIcon.astro";
---
<head>
	<link rel="stylesheet" href="./styles.css">
  </head>
<Layout
	title="Porfolio de Julio Enrique - Programador"
	description="Contrata a Julio para tener en el equipo a un programador con todas las ganas de aprender y esforzarse cada dia en mejorar"
>
	<main class="px-7">
		<SectionContainer id="top" class="py-10 pb-16 flex flex-col items-center">
			<img 
			class="h-[16rem] bg-cover bg-[center_center] bg-no-repeat border-[4px] animate-[morph_8s_ease-in-out_infinite] rounded-[60%_40%_30%_70%_/_60%_30%_70%_40%] relative [transition:all_1s_ease-in-out] border-black dark:border-white"
			src="https://avatars.githubusercontent.com/u/124218570?v=4" alt="">
			<h1
				class="text-black dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 py-7 pb-6 lg:pb-10"
			>
				Hola soy Julio <a
					href="http://linkedin.com/in/julio-enrique-54234a223"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center hover:scale-110 transition-all duration-300"
				>
					<!-- <Badge>Disponible</Badge> -->
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px] text-black dark:text-white"> 
				Estudiante de 
				<span class="text-yellow-500 dark:text-yellow-300/90">Ingenieria En Sistemas</span>
				 en la Universidad Tecnologica Nacional | Análisis de<span class="text-green-500 dark:text-green-300/90"> Datos</span>
				. Con ganas de crear y mejorar todos los dias. <span
					class="text-blue-700 dark:text-blue-300/90">De La Plata, Argentina.</span
				>
			</h2>
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="http://linkedin.com/in/julio-enrique-54234a223">
					<LinkedInIcon class="size-4 md:size-6" />
					 LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/julioenriqee">
					<GitHubIcon class="size-4 md:size-6" />
					 GitHub
				</SocialPill>
				<!-- <SocialPill href="mailto:enriquejulio071@gmail.com">
					<MailIcon class="size-4 md:size-6" />
					 enriquejulio01
				</SocialPill> -->
				<SocialPill
					href="https://julioenrique-cv.vercel.app/"
				>
					<CVIcon class="size-4 md:size-6" />
					 Curriculum
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="Estudios">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black dark:text-white">
				<StudieIcon class="size-4 md:size-6" />
				 Estudios
			</h2>
			<Studies />
		</SectionContainer>
		<SectionContainer id="Proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black dark:text-white">
				<ProjectIcon class="size-4 md:size-6 gap-4" />
				 Proyectos
			</h2>
			<Projects />
		</SectionContainer>

		<!-- <SectionContainer id="Skills">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 text-center">
				Skills
			</h2>
			<Skills class="size-7">

			</Skills>
		</SectionContainer> -->

		<SectionContainer id="Sobre-mi">
			<h2 
				class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black dark:text-white"
			>
				<AboutmeIcon class="size-8" />
				Sobre mi
			</h2>
			<Aboutme />
		</SectionContainer>

		<SectionContainer id="Contacto" >
			<h2 
				class="items-center text-3xl font-semibold mb-6 flex gap-x-3 text-center text-black dark:text-white"
			>
				<ContactIcon class="size-7" />
				Contacto
			</h2>
			<Contact />
		</SectionContainer>
	</main>
	
</Layout>
