<div id="about" class="relative overflow-hidden mt-16">
  <div class="max-w-7xl mx-auto">
    <div
      class="relative z-10 pb-8 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32"
    >
      <div class="pt-1"></div>

      <main
        class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-0 xl:mt-0"
      >
        <div class="lg:text-left">
          <p class="w-[350px]">
            Me considero una persona responsable, respetuosa que se adapta a
            cualquier ambiente, sociable y sobre todo ambiciosa. Aprendo rápido,
            busco la manera de optimizar mi trabajo y mejorarlo de manera
            eficiente o eficaz. Además, continuar sumando conocimientos.
          </p>
        </div>
      </main>
    </div>
  </div>
  <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
    <img
      class="h-20 w-full object-cover object-top sm:h-50 md:h-96 lg:w-80 lg:h-60"
      src="/projects/foto2.webp"
      alt=""
    />
  </div>
</div>
