<section class="flex flex-col md:flex-row gap-8 justify-center md:order-1">
  <div class="[&>p]:mb-4">
    <p>
      Me llamo julio, tengo 22 años desde chico me gustó el mundo de la informática, ya desde adulto me metí en el mundo del desarrollo web por lo cual hice algunos cursos. Soy estudiante de ing en sistemas y elejí la carrera porque me gusto mucho el perfil en lo laboral lo que se indetificaba conmigo.
    </p>
    <p>
      Me considero una persona responsable, respetuosa que se adapta a cualquier ambiente, sociable y sobre todo ambiciosa. Aprendo rápido, busco la manera de optimizar mi trabajo y mejorarlo de manera eficiente o eficaz. Además, continuar sumando conocimientos.
    </p>
  </div>
  <img src="https://avatars.githubusercontent.com/u/124218570?v=4" alt="Julio" class="rounded-full size-60 order-1 md:order-2">
</section>