<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div class="[&>p]:mb-4 text-pretty order-2 md:order-1">
    <p>
    Mi nombre es Julio, tengo 22 años. Desde niño, me ha gustado el mundo de la informática. Ya en la adultez, me adentré en el desarrollo web, para lo cual realicé algunos cursos. Actualmente, soy estudiante de Ingeniería en Sistemas y elegí esta carrera porque me gusta mucho el perfil laboral que se identifica conmigo.
    </p>
    <p>
      Me considero una persona responsable y respetuosa que se adapta a cualquier entorno. Soy sociable y, sobre todo, ambicioso. Aprendo rápidamente y busco maneras de optimizar mi trabajo, mejorándolo de manera eficiente y eficaz. Además, estoy constantemente buscando oportunidades para seguir sumando conocimientos.
    </p>
  </div>
  <img src="../../public/projects/3.jpg" alt="Julio" class="rounded-3xl w-48 h-full order-1 md:order-2">
</section>
<img src="../../public/3.jpg" alt="">