<div class="h-scree">
  <div class="pt-0 md:pt-0">
    <div class="p-4 md:p-8">
      <form class="flex flex-col items-center">
        <div class="md:w-3/4 lg:w-2/3 xl:w-[700px]">
          <div class="flex flex-col md:flex-row">
            <input
              id="name"
              type="text"
              class="my-2 py-2 px-4 rounded-md bg-gray-900 text-gray-300 w-full md:w-1/2 md:mr-2 outline-none focus:ring-2 focus:ring-white"
              placeholder="Nombre"
            />
            <input
              id="email"
              type="email"
              class="my-2 py-2 px-4 rounded-md bg-gray-900 text-gray-300 w-full md:w-1/2 md:ml-2 outline-none focus:ring-2 focus:ring-white"
              placeholder="Email"
            />
          </div>
          <input
            id=""
            type="text"
            placeholder="Asunto"
            class="my-2 py-2 px-4 rounded-md bg-gray-900 text-gray-300 w-full outline-none focus:ring-2 focus:ring-white"
          />
          <textarea
            id="message"
            rows="5"
            placeholder="Mensaje"
            class="my-2 py-2 px-4 rounded-md bg-gray-900 text-gray-300 w-full outline-none focus:ring-2 focus:ring-white"
          ></textarea>
        </div>
        <button
          class={`
          bg-gray-900 text-gray-300
          border border-white/10 rounded-xl  
          flex justify-center items-center gap-x-2
          py-1 px-2 md:py-2 md:px-4
          text-xs lg:text-base
          transition
          hover:scale-110 hover:bg-white/10
          `}
        >
          Enviar
        </button>
      </form>
    </div>
  </div>
</div>
