<header
  class={`
    flex justify-center items-center
    mx-auto
    py-5
    sticky top-0
    xl:w-[1120px]
    z-10
  `}
>
  <nav
    class={`
      rounded-full
      px-3 py-1
      flex flex-row items-center
      backdrop-blur-2xl
      gap-x-10 opacity-80
      `}
  >
    <a
      class="hover:scale-110 hover:bg-white/10 rounded-full px-3 transition"
      href="#top"
      >Inicio
    </a>
    <a
      class="hover:scale-110 hover:bg-white/10 rounded-full px-3 transition"
      href="#Estudios"
      >Estudios
    </a>
    <a
      class="hover:scale-110 hover:bg-white/10 rounded-full px-3 transition"
      href="#Proyectos"
      >Proyectos
    </a>
    <a
      class="hover:scale-110 hover:bg-white/10 rounded-full px-3 transition"
      href="#Sobre mi"
      >Sobre mi
    </a>
    <a
      class="hover:scale-110 hover:bg-white/10 rounded-full px-3 transition"
      href="#Contacto"
      >Contacto
    </a>
  </nav>
</header>
