---
 const { href } = Astro.props
---
<a
      href={href}
      class="bg-black/10
      text-black dark:text-white
      border dark:border-white/10 border-black
      rounded-2xl
      inline-flex justify-center items-center gap-x-2
      py-1 px-2 md:py-2 md:px-4
      text-xs md:text-base
      transition
      hover:scale-105 hover:bg-black hover:text-white"
      target="_blank"
    >
      <slot />
    </a>