---
import HTML from "./skills/HTML.astro"
import CSS from "./skills/CSS.astro"
import JS from "./skills/JavaScript.astro"
import React from "./skills/React.astro"
import Astrox from "./skills/Astrox.astro"
---
<section class="flex justify-between">
    <HTML />
    <CSS />
    <JS />
    <React />
    <Astrox />
</section>
