<a
  class={`
  
  bg-white/5
  border border-white/40 rounded-full
  gap-x-2
  py-1 px-2 md:py-[0.4rem] md:px-[1rem]
  text-xs lg:text-base
  transition
  hover:scale-110 hover:bg-white/10
  flex items-center
  `}
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
